{% if services|length >= 1 %}
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Categoría</th>
			<th scope="col">País</th>
			<th scope="col">Ver</th>
			<th scope="col">Editar</th>
			<th scope="col">Borrar</th>
		</tr>
	</thead>
	<tbody>
		{% for service in services %}
		<tr>
			<th scope="row">
				<a href="{{ path('service_detail', {'id':service.id}) }}">{{ service.name }}</a>
			</th>
			<td>
				{{ service.category.name }}
			</td>
			<td>
				{{ service.country }}
			</td>
			<td>
				<a class="btn btn-sm btn-outline-success" href="{{ path('service_detail', {'id':service.id}) }}">Ver</a>
			</td>
			{# <td><a href="{{ service.urlService }}">Abrir</a></td> #}

			{% if app.user != null and service.user.id == app.user.id %}
			<td>
				<a href="{{ path('service_edit', {'id':service.id}) }}" class="btn btn-sm btn-outline-primary">Editar</a>
			</td>
			<td>
				{# <a href="{{ path('service_delete', {'id':service.id}) }}">Borrar</a> #}

				<!-- Button trigger modal -->
				<button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
					data-target="#modal-{{service.id}}"> Borrar
				</button>
				<!-- Modal -->
				<div class="modal fade" id="modal-{{service.id}}" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirmación necesaria</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Se eliminará definitivamente esta suscripción:
								<strong>{{ service.name }}</strong>.<br>
								¿Desea continuar?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
								{# <button type="button" class="btn btn-primary">Save changes</button> #}
								<a class="btn btn-danger ml-5" href="{{ path('service_delete', {'id':service.id}) }}">Borrar</a>
							</div>
						</div>
					</div>
				</div>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p class="mt-3">
	<strong>No tienes suscripciones registradas</strong>
</p>

{% endif %}